.myBG {
    height: 100vh;
    background: url(/src/assets/images/photo-bg.png);
    background-size: cover;
}

.intro {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_title {
    font-weight: bold;
    color: #D4AF37 !important;
}

.navbar_menu {
    font-size: 0.8rem;
}

.title {
    font-size: 1.5rem;
    line-height: 1.2;
}

.title_big {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.2;
}

.title_role {
    font-size: 2rem;
    color: brown;
    line-height: 1.2;
}

.title_para_head {
    margin-top: 20px;
}

.btn-intro {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-intro-layer {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 9rem;
}

.btn-intro-content {
    width: 9rem;
    background-color: brown !important;
    border-color: #D4AF37 !important;
    /* cursor: pointer; */
}

.btn-intro-content:hover {
    width: 9rem;
    background-color: #D4AF37 !important;
    color: brown !important;
    font-weight: bold;
}

.recentCertBG {
    height: auto;
    background: url(/src/assets/images/recent-cert-bg.png);
    background-size: cover;
}

.cert_list {
    height: auto;
    margin: 5px;
}

.recent_cert_title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.cert_para {
    font-size: 1rem;
    font-weight: 100;
}

.btn-cert {
    background-color: #D4AF37 !important;
    border-color: #D4AF37 !important;
}

.btn-cert:hover {
    /* opacity: 0.8; */
    color: brown !important;
}